* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
  --bg-dark: #031224;        /* ページ全体の暗い色 */
  --neon-blue: #00f0ff;      /* ネオンブルー */
  --neon-deep: #00bcd4;      /* 少し濃いネオンブルー */
}

body{
  background: radial-gradient(1200px 600px at 10% 10%, rgba(0,240,255,0.06), transparent 10%),
              radial-gradient(900px 500px at 85% 80%, rgba(123,97,255,0.04), transparent 10%),
              var(--bg-dark);
}

.container { 
    background: linear-gradient(45deg,#021525, #061C3B);
    width: 30%;
    height: auto;
    max-height: 3000px;
    
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(31, 31, 31);
    border: 0.5px solid rgba(255, 255, 255, 0.062);

    text-align: center;
    align-items: center;
    justify-content: center;
    color: #eaffe8;
    padding: 30px;
}

.icon {
    margin-top: 10px;
    border-radius: 50%;
    width: 80px;
}
.name {
    color: #eaffe8;
    text-shadow: 0 0 3px white;
    font-size: 40px;
    letter-spacing: 1px;
}
.agent {
    margin-top: -10px;
    color: var(--neon-blue);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.507);
    letter-spacing: 1px;
    font-size: 20px;
}
p {
    margin-top: 20px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.box {
    margin-top: 10px;
    width: 70%;
    display: flex;
    background-color: #05182D;
    border-radius: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.062);
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.box h2 {
    color: #eaffe8;
    font-size: 15px;
}

.title {
    text-align: left;
}
.content {
    text-align: right;
}
